/* Styling for the PieChart container */
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  /* Styling for the PieChart and Bar Chart containers */
  .pie-chart-container,
  .bar-chart-container {
    flex: 1;
    min-width: 300px; /* Minimum width for each chart container */
  }
  
  /* Styling for the PieChart */
  .pie-chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  /* Styling for the Bar Chart */
  .bar-chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  